nav {
  width: 20%;
  height: 100vh;
  padding: 40px;
  color: #aaa;
  box-sizing: border-box;
  background-color: white;
}
.menu-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}
hr {
  width: 35%;
  margin: 25px 0;
  color: rgb(255, 255, 229);
}
.menu-text-block {
  font-size: 14px;
  margin: 20px 0;
  line-height: 145%;
}

.menu {
  margin: 20px 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  
}

img {
  height: 20px;
  aspect-ratio: 1 / 1;
}

.menu > li {
  list-style-type: none;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 12px;
  cursor: pointer;
  transition: 0.35s;
  font-weight: bold;
}

.menu > li:hover {
  color: black;
}

.menu > li.selected {
  color: black;
}

.media-icons {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.media-icons > img {
  transition: 0.25s;
  cursor: pointer;
  opacity: 0.55;
  padding: 0 7px;
}

.media-icons > img:hover {
  opacity: 1;
}


